## about data

In [1]:
# Pandas를 pd라는 이름으로 임포트한다
import pandas as pd

In [2]:
# 학생번호를 인덱스로 csv 파일을 읽어들여, 변수 df에 저장
df = pd.read_csv('../data/ch1_sport_test.csv',
                 index_col='학생번호')
# 변수 df를 표시
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [3]:
# 특정 열만 출력
# dataframe이 아닌 series 데이터 구조로 반환
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

### 1.1 데이터의 크기

데이터가 주어지면 제일 먼저 확인하는 것은 `데이터의 크기`

In [5]:
# pandas DataFrame의 크기는 shape로 확인가능
# (데이터 수, 변수 개수)
# 변수가 5개이므로 5차원(인덱스로 설정된 열은 여기서 변수 개수에 포함은 안되지만 원래는 포함해서 생각해야 함)
df.shape

(10, 5)

### 1.2 변수의 종류

#### 1.2.1 질적 변수와 양적 변수
변수는 크게 질적 변수와 양적 변수 두 가지로 분류함.  
`질적 변수`는 설문조사 등에서 만족도 등을 묻는 질문에 대한 답변으로
```
1. 매우 좋음  2. 좋음  3. 보통  4. 나쁨  5. 매우 나쁨
```
과 같이 선택이 필요한 변수  
또는 혈액형의 경우  
```
A형 B형 O형 AB형
```
와 같이 종류를 구별하기 위한 변수
질적 변수 중에서 `남성과 여성`, `흡연 여부` 등 값이 2개뿐인 질적 변수를 `2진 변수`라 함  

<br/>

시험 점수나 키와 뭄무게와 같이 양을 표현하는 변수를 `양적 변수`라고 함  
남성, 여성과 같은 질적 변수를 0,1로 변환하여 `가변수`처리하는 경우도 있음.

#### 1.2.2 척도 수준

질적 변수는 각종 척도 수준으로 더 세분화됨.

- 명의 척도  
단순 분류 목적.  
학생번호, 전화번호, 성별 등    
구별이 목적이므로 변수의 동일성 여부에만 의미를 둠  
즉, 대소 관계와 사칙연산 등은 의미 없음  

- 순서 척도  
순서 관계나 대소 관계에 의미가 있는 변수.  
성적 순위, 설문조사 만족도 등  
대소 관계에는 의미가 있으나 4등과 8등의 차이가 8등과 12등의 차이와 동일하다고 비교할 수 없으며,  
4등은 8등의 2배라고 주장할 수도 없음  

- 간격 척도  
대소 관계 및 차이에 의미가 있는 변수  
연도, 온도 등  
60도는 30도보다 높은 온도로 대소 관계에 의미가 있고, 그 차이에 해당하는 수치도 의미가 있음.  
그러나, 60도가 30도보다 2배 높은 온도라고 할 수는 없음  

- 비례 척도  
대소 관계, 차이, 비율 모두에 의미가 있는 변수  
길이, 무게 등  
'50cm와 100cm의 차이는 50cm, 100cm는 50cm의 2배' 모두 의미 있음  


간격 척도와 비례 척도를 구분하는 요령 : 0이 '없음'을 나타내는지 여부로 구분. 0cm는 길이가 없음, 0도는 온도가 0도로 있음

#### 1.2.3 이산형 변수와 연속형 변수

질적, 양적 변수가 아닌 이산형, 연속형 변수로 구분하는 경우  

`이산형 변수`는 0, 1, 2, ... 하나하나의 정수값을 취하는 변수로 연속되지 않음  
주사위 눈, 학교 출석 횟수, 결석한 학생 수 등

`연속형 변수`는 연속적인 실수값을 취하는 변수로 어떤 두 숫자 사이에 반드시 숫자가 존재함  
길이, 무게, 시간 등

실제로 다루는 데이터는 연속형 변수라도 측정 정밀도에 한계가 있어 띄엄띄엄 떨어진 값을 취할수밖에 없음  
키를 소수점 첫 번째 자리까지의 정밀도로 측정하면 170.3cm와 170.4cm 사이에는 숫자가 존재하지 않아 엄밀하게는 이산형 변수로 분류되는 것이 맞음  
이와 같은 측정 정밀도의 문제로 이산형이 되는 변수는 상당수 연속형 변수로 취급함